<%- include("../partials/header.ejs")%>

	<form action="#">
        <div style="display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  border: 1px solid white;">
            <p style="font-weight:bold">Are you really my Bhagyam?🤔</p>
            <section>
                <a href="./ToMyLove" class="button" style="font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid green;
  border-right: 1px solid green;
  border-bottom: 1px solid green;
  border-left: 1px solid green;font-size:15px;background-color:green;color:white; border-radius:5px;">Ofcourse, idiot</a>			
                <a href="./not" class="button" style="font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;font-size:15px;background-color:red; color:white; border-radius:5px;">No</a>			                
            </section>
            
        </div>
</form>	

<%- include("../partials/footer.ejs")%>