<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surprise!!</title>
	<base href="/">
	<link rel="stylesheet" type="text/css"  href="/css/ToMyLove.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
</head>
<body style="background-color: #ffb4b4;">
	<main class="border-bottom-0 grp">
        <section>
            <h2>To The Love Of My Life</h2>
            <img src="/css/rohith.png" alt="Sorry For The Inconvinience">
            <div class="fancy-border" >
                <p>What if I tell you a thick skin and tonne of  bones, <br>
                    turned into something beautiful<br>
                    What if I tell you she's a woman with beautiful smile, <br>
                    which drives men's hearts crazy<br>
                    What if I tell you nothing is vibing, <br>
                    compared to her presence <br>
                    What if I tell you can fight the whole world, <br>
                    just to be loved by her <br>
                    What if I tell you there's 40kgs of kindness, <br>
                    still, that doesn't sound out of ordinary? <br>
                    What if I tell you she shines like a Moon,<br>
                    and personality as bright as Sun <br>
                    What if I tell you she's a unique flower,<br>
                    blooms beautifully everyday<br>
                    What if I tell you she's the love of my life, <br>
                    Would you be jealous? <br>
                </p>
            </div>
		</section>
    </main>
</body>

	</html>